#my.cnf
[client]
host=127.0.0.1
port = 3306
database=sistema_api
user=root
password=
default-character-set=utf8mb4



DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': mysql_config.get('database', 'app_movil_escolar_db'),
        'USER': mysql_config.get('user', 'root'),
        'PASSWORD': mysql_config.get('password', ''),
        'HOST': mysql_config.get('host', '127.0.0.1'),
        'PORT': mysql_config.get('port', '3306'),
        'OPTIONS': {
            'charset': 'utf8mb4',
        }
    }
}


Guarda las credenciales de Railway (sin pegarlas en tu doc) como:

DB_HOST

DB_PORT

DB_NAME

DB_USER

DB_PASSWORD


mysql://root:NdleLGTmRqpQyLIqJxqyoCqCJDprcQWK@crossover.proxy.rlwy.net:18832/railway

MYSQL_PUBLIC_URL="crossover.proxy.rlwy.net"


python manage.py runserver
